*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
parts
var
lib
.installed.cfg
pyenv/eggs
pyenv/dist
pyenv/bin
pyenv/sdist
pyenv/develop-eggs
pyenv/lib
pyenv/lib64
pyenv/local

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
